body {
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
  color: #333;
}

header,
footer {
  background-color: #D5F5E3;
  color: black;
  text-align: center;
  padding: 1em 0;
}

main {
  padding: 2em;
}

img {
  max-width: 300px;
  margin: 1em;
}
